---
- name: Install and Configure MySQL Server
  hosts: db
  become: true

  tasks:

    - name: Remove MySQL Community Repo (if exists)
      ansible.builtin.file:
        path: /etc/yum.repos.d/mysql-community.repo
        state: absent

    - name: Install MySQL Server
      ansible.builtin.command: dnf install mysql-server -y

    - name: Enable MySQL Service
      ansible.builtin.systemd_service:
        name: mysqld
        enabled: true

    - name: Start MySQL Service
      ansible.builtin.systemd_service:
        name: mysqld
        state: started

    - name: Set MySQL root password
      ansible.builtin.command: >
        mysql_secure_installation --set-root-pass ExpenseApp@1
      ignore_errors: yes