---
- name: Install MySQL 8.0 on RHEL
  hosts: db
  become: yes

  tasks:

  - name: Disable default MySQL module
    command: dnf module disable mysql -y

  - name: Install MySQL 8 Repo
    command: dnf install -y https://dev.mysql.com/get/mysql80-community-release-el9-1.noarch.rpm

  - name: Install MySQL Server
    dnf:
      name: mysql-community-server
      state: present

  - name: Start MySQL Service
    service:
      name: mysqld
      state: started
      enabled: yes