---
- name: Install and Configure MySQL Server
  hosts: db1
  become: true

  tasks:

    - name: Install MySQL Server 8.0
      ansible.builtin.dnf:
        name: mysql-server
        state: present

    - name: Enable MySQL Service
      ansible.builtin.systemd_service:
        name: mysqld
        enabled: true

    - name: Start MySQL Service
      ansible.builtin.systemd_service:
        name: mysqld
        state: started

    - name: Set MySQL root password
      ansible.builtin.command: >
        mysql_secure_installation --set-root-pass ExpenseApp@1
      ignore_errors: yes