---
- name: Install MySQL server using DNF module
  hosts: db1  
  become: true

  tasks:
    - name: Disable default MySQL module
      ansible.builtin.command: dnf module disable mysql -y
    - name: Ensure MySQL community repository is installed
      ansible.builtin.dnf:
        name: https://dev.mysql.com/get/mysql80-community-release-el9-1.noarch.rpm
        state: present
        disable_gpg_check: true
    - name: Import MySQL GPG key
      ansible.builtin.command: rpm --import https://repo.mysql.com/RPM-GPG-KEY-mysql-2023
    - name: Install MySQL server package
      ansible.builtin.dnf:
        name: mysql-community-server
        state: present
      notify:
        - Start and enable MySQL service
    - name: Install PyMySQL Python library
      ansible.builtin.dnf:
        name: python3-PyMySQL
        state: present
  handlers:
    - name: Start and enable MySQL service
      ansible.builtin.systemd_service:
        name: mysqld
        state: started
        enabled: true